<div class="w-full">
	<div class="flex flex-wrap justify-between items-center content-start">
		<!-- <div class="md:basis-8/12 basis-full"> -->
		<div class="md:relative w-full">
			<h1 class="font-bold text-4xl text-gray-600 my-2 md:mr-72">Votre campagne de sécurité routière</h1>
			<p class="font-sm text-gray-700"><strong>La Commune de Profondeville lance une campagne de sécurité routière ludique et personnalisée.</strong> Aidez-nous en participant à cette campagne! </p>
		  	<!-- <div class="basis-full md:basis-4/12 my-5 md:my-0"> -->
			<div class="md:absolute md:top-2 md:right-0 w-full content-right">
		  		<div id="confirm_submit" class="hidden"></div>
				<%= link_to new_poster_path, data:{turbo_frame: "suggest_modal"}, class: "py-2 px-3 mx-2 w-72 rounded-lg hover:bg-orange-600 bg-orange-500 text-white text-lg md:absolute md:top-0 md:right-0 flex flex-nowrap items-center font-medium place-content-center" do %>
					<%=render partial:"layouts/icons/talk"%> <div>Proposez votre slogan</div>
				<% end %>
				
				<%= turbo_frame_tag :suggest_modal %>	
	   	 	</div>
		</div>
	</div>
	<div class="min-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-4">
		<div class="max-w rounded overflow-hidden relative">
			<h2 class="font-bold text-3xl text-gray-600 text-center">Proposez</h2>
			<p>Imaginez et <a href="<%= new_poster_path %>">proposez votre propre slogan</a>. Notre graphiste en fera une belle affiche à proposer au vote.</p>
		</div>
		<div class="max-w rounded overflow-hidden relative">
			<h2 class="font-bold text-3xl text-gray-600 text-center">Votez</h2>
			<p>Votez pour vos affiches préférées en cliquant sur le coeur. Les meilleures seront imprimées sur des panneaux et placées au bord des routes.</p>
		</div>
		<div class="max-w rounded overflow-hidden relative">
			<h2 class="font-bold text-3xl text-gray-600 text-center">Imprimez</h2>
			<p>Faites passer le message ! Téléchargez et imprimez votre affiche favorite en cliquant sur une image, et affichez-là à votre fenêtre.</p>
		</div>
	</div>
  	<div class="mb-2">
		<%= link_to posters_path, class: "bg-yellow-400 hover:bg-yellow-500 text-gray-600 font-bold font-size text-sm py-1 px-3 rounded-full inline-flex items-center" do %>
			<%= render "layouts/icons/place" %> tout
	  	<% end %>
	  	<%= render partial: 'tag', :collection => @tags %>
		<%= render partial: 'status', :collection => Poster::STATUS if current_admin %>
  	</div>
  	<div id="posters" class="min-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    	<%= render @posters %>
  	</div>
</div>
