<!DOCTYPE html>
<html>
  <head>
    <title>Safestreets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 mb-15">
		<%= link_to root_path do %>
			<%= image_tag('en-tete') %>
		<% end %>
	    <% if notice.present? %>
	      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
	    <% end %>
	    <% if alert.present? %>
	      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
	    <% end %>
		
		<%= yield %>

		<% if admin_signed_in? %>
			<div class="my-4 text-left">
				Admin : <%= current_admin.email %>
				<%= button_to "Déconnecter", destroy_admin_session_path, :method => :delete, form: {class: 'inline-block bg-gray-200 hover:bg-gray-300 text-gray-600 font-bold py-1 px-3 rounded-full inline-flex items-center'} %>
			</div>
		<% else %>
			<% if controller_name != 'sessions' %>
			<div class="my-4 text-left">
				  <%= link_to "Admin", new_admin_session_path, class: 'inline-block bg-gray-200 hover:bg-gray-300 text-gray-600 font-bold py-1 px-3 rounded-full inline-flex items-center' %>
			</div>
			<% end %>
		<% end %>
      
    </main>
  </body>
</html>
